/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    color: #000;
    background-color: #f8f9fa; 
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: top 0.3s ease-in-out; /* Smooth transition */
}

.logo {
    font-size: 32px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a.active {
    color: #ffcc00;
}

/* Hero Section Styles */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    padding: 80px 5%;
    margin-top: 60px;
    background-color: #e9ecef;
}

.hero-content {
    max-width: 800px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 24px;
}

.hero-button {
    font-size: 18px;
    color: #fff;
    background: #220f61;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.hero-button:hover {
    background: #331b85;
}

/* Feature Section Styles */
.feature-section {
    background: #fff;
    color: #000;
    padding: 20px 5%;
}

.feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.feature {
    background: rgba(34, 15, 97, 0.1);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    flex: 1 1 calc(25% - 10px);
    color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature img {
    max-width: 100%;
    border-radius: 10px;
}

.feature h2 {
    font-size: 24px;
    margin: 15px 0 10px;
}

.feature p {
    font-size: 16px;
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Background Section Styles */
.background-section {
    padding: 60px 5%;
    background-color: #e9ecef;
    color: #000;
    text-align: left;
}

.background-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.background-section p, .background-section ul {
    font-size: 20px;
    margin-bottom: 20px;
}

.background-section ul {
    list-style-type: disc;
    margin-left: 40px;
}

/* Extraction Section Styles */
.extraction-section {
    position: relative;
    padding: 60px 5%;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
}

.extraction-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../pictures/Background - extraction.webp') no-repeat center center/cover;
    filter: blur(8px); /* Adjust the blur value as needed */
    z-index: -1;
}

.extraction-content {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.extraction-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.extraction-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.extraction-content h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.extraction-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    color: #000000;
}

.result-box {
    flex: 1 1 calc(50% - 40px);
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.result-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.result-box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.result-box p {
    font-size: 16px;
    margin-top: 10px;
}

/* Recognition Section Styles */
.recognition-section {
    padding: 60px 5%;
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    text-align: center;
}

.recognition-content {
    max-width: 800px;
    margin: 0 auto;
}

.recognition-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#uploadedResults {
    margin-top: 20px;
    background: #f8f9fa; /* Light background for results */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#resultsDisplay {
    font-size: 18px;
    margin-top: 10px;
}

#resultsDisplay span {
    display: block;
    margin: 10px 0;
}

.currency-result {
    font-weight: bold;
    color: green;
}

.percentage-result {
    font-weight: bold;
    color: blue;
}

/* Button Styles */
.custom-button, .upload-button {
    font-size: 18px;
    color: #000;
    background: #f8f9fa;
    padding: 15px 30px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
    cursor: pointer;
    min-width: 200px; /* Ensures buttons are the same size */
    height: 50px; /* Ensures buttons have the same height */
    vertical-align: middle; /* Aligns buttons vertically */
}

.custom-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.upload-button {
    background: #007bff;
    color: #fff;
    border: none;
    margin-left: 10px; /* Space between the buttons */
}

.upload-button:hover {
    background: #0056b3;
}

.custom-button:hover {
    background: #e0e0e0;
}

/* Currency Result and Circular Progress Bar Styles */
#resultsDisplay .currency-result {
    font-weight: bold;
    color: green;
    font-size: 24px;
    margin-bottom: 20px;
}

.percentage-result {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#4caf50 0% 67.89%, #ddd 67.89% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inside-circle {
    position: absolute;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

/* File Input and Label Styles */
.file-upload {
    display: flex;
    justify-content: center; /* Center the file upload section */
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.file-upload label {
    display: flex;
    align-items: center;
}

.file-upload input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.file-list {
    margin-top: 10px;
}

.file-list-item {
    margin-bottom: 5px;
}

.icon {
    width: 20px;
    height: 20px;
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #e9ecef; /* Adjust this color as needed */
    color: #2e2d2d;
    width: 100%;
    flex-shrink: 0; /* Ensure the footer does not shrink */
}

.footer .custom-button {
    display: inline-block;
    background-color: #333; /* Adjust this color as needed */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
    border: 1px solid rgb(90, 87, 87);
}

.footer .custom-button:hover {
    background-color: #555; /* Adjust this color as needed */
}
